<h1>Add new animal</h1>

<form action="/animals" method="post">

  <div class="form-el">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>

  <div class="form-el">
    <label for="species">Species</label>
    <input type="text" name="species" id="species">
  </div>

  <div class="form-el">
    <label for="breed">Breed</label>
    <input type="text" name="breed" id="breed">
  </div>

  <div class="form-el">
    <label for="sex">Sex</label>
    <input type="text" name="sex" id="sex">
  </div>

  <div class="form-el">
    <label for="admission_date">Admission Date</label>
    <input type="text" name="admission_date" id="admission_date">
  </div>

  <div class="form-el">
    <input type="submit" value="Add New Animal"/>
  </div>


</form>
