<h1>Adoptions</h1>

<h4><a href="adoptions/new">Add New Adoption</a></h4>

<div id="adoption-wrapper">
  <% for adoption in @adoptions %>
  <div class="adoption">
    <h3><%= adoption.id %></h3>
    <% owner = Owner.find_owner_by_id(adoption.owner_id) %>
    <p>Owner: <%= owner.name %></p>
    <p>Animal: <%= adoption.animal_id %></p>
    <p>Adoption Date: <%= adoption.adoption_date %></p>
  </div>
  <% end %>
</div>
