<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Jake's Animal Shelter</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <nav id="menu">
      <li class="menu-item"><a href="/animals">Animals</a></li>
      <li class="menu-item"><a href="/owners">Owners</a></li>
      <li class="menu-item"><a href="/adoptions">Adoptions</a></li>
    </nav>
    <%= yield %>
  </body>
</html>
