<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>Jake's Animal Shelter</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="icon" href="https://i.pinimg.com/originals/ea/f6/62/eaf662e3dbc1983ac260b2269e5c891e.png" />
  </head>

  <div class="header">
    <a href="/"><img class="logo" src="https://i.pinimg.com/originals/ea/f6/62/eaf662e3dbc1983ac260b2269e5c891e.png" alt="website logo"></a>

    <body>
      <nav id="menu">
        <li class="menu-item"><a href="/">Home</a></li>
        <li class="menu-item"><a href="/animals">Animals</a></li>
        <li class="menu-item"><a href="/owners">Owners</a></li>
        <li class="menu-item"><a href="/adoptions">Adoptions</a></li>
      </nav>

    </body>
  </div>

  <div class="body">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
      <%= yield %>
  </div>
</html>
