.menu-item {
  display: inline;
}

.logo {
  border-radius: 50%;
  float: left;
  width: 5em;
  height: 5em;
  position: relative;
}

.header {
  padding: 40px;
  background: #1abc9c;
  color: black;
  font-size: 20px;
  position: relative;
  display: flex;
}

#menu {
  display: flex;
  align-items: bottom;
}

.menu-item {
  position: relative;
  bottom: 5px;
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.animal-container {
  display: flex;
  flex: 40%;
  padding: 20px;
  border: 1;
  border: 3px solid #1abc9c;
  text-align: right;
  justify-content: space-between;
}

.animal-url--index {
  border-radius: 8px;
  width: 20em;
  height: 20em;
}

.animal-info--show {
  display: flex;
}

.animal-url--show {
  border-radius: 8px;
  width: 20em;
  height: 20em;
}

#image--show {
  height: 100%;
  width: 100%;
}


.animal-text-box--show {
  text-align: right;
}

.animal-text {

}
