* {
  font-family: 'Montserrat', sans-serif;
}

.menu-item {
  display: inline;
}

.logo {
  border-radius: 50%;
  float: left;
  width: 5em;
  height: 5em;
}

.header {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 10px;
  background: #1abc9c;
  color: black;
  font-size: 20px;
  text-decoration: none;
  display: flex;
}

#menu {
  display: flex;
  cursor: pointer;
}

.menu-item {
  position: relative;
  bottom: 5px;
  padding: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.animal-container {
  display: flex;
  flex: 40%;
  padding: 20px;
  border: 1;
  border: 3px solid #1abc9c;
  text-align: right;
  justify-content: space-between;
}

#new-animal-button {
  text-decoration: none;
  background-color: silver;
  color: black;
  padding: 2px 6px 2px 6px;
  border-radius: 7%;
}

#new-animal-button:hover {
    color: white;
    background-color: silver;
}




.animal-url--index {
  border-radius: 8px;
  width: 20em;
  height: 20em;
}

.animal-info--show {
  display: flex;
}

.animal-url--show {
  border-radius: 8px;
  width: 20em;
  height: 20em;
}

#image--show {
  height: 100%;
  width: 100%;
}


.animal-text-box--show {
  text-align: right;
}

.animal-text {

}

.top-nav--animals {
  display: inline;
  background-color: grey;
}

.species-nav {
  position: relative;
  display: inline-block;

}



.navbar {
  overflow: hidden;
  background-color: #979B9E;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  color: white;
  padding: 14px 16px;
  background-color: inherit;

}

.navbar a:hover .dropdown:hover .dropbtn {
  background-color: #A6AAAE;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}


.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}





/*   animals/show */

.animal-info--show {
  display: flex;
}

.animal-url--show {
  flex: 1 1 auto;
  height: 100%;
}

.animal-text-box--show {
  flex: 2 1 auto;

}

#edit-button {
  font-size: 110%;
  border-radius: 4px;
  background-color: #E0E3E5;
}

#edit-button-text {
  text-decoration: none;
  color: #393D42;
}

#edit-button:hover {
  background-color: #E5E8EA;
}

#delete-button {
  padding: 10px;
}

#delete-button--button {
  font-size: 110%;
  border-radius: 4px;
  background-color: #E92B0E;
}

#delete-button--button:hover {
  background-color: #F43F3F;
  cursor: pointer;
}


/* New Animal form  */



.form-new--title {
  text-align: center;
}

.form--new {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  background-color: #D7D2D2;
  max-width: 90vw;
}


.form-el {
  font-size: 60;
}

.form-el label {
  display: block;
  font-size: 20px;
}

.form-el input {
  height: 30px;
  width: 300px;
  font-size: 18px;
}

.form-el select {
  height: 30px;
  width: 300px;
  font-size: 18px;
}

#pet-description--new {
  height: 200px;
  width: 300px;
  font-size: 18px;
}

#sex-label {
  display: inline;
}

#male {
  display: inline;
  width: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

#female {
  display: inline;
  width: 40px;
}

#submit-button {
  font-size: 110%;
  border-radius: 4px;
  background-color: #silver;
  cursor: pointer;
}





/*  animals edit page   */


#edit-heading {
  text-align: center;
}

.form-wrapper {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  background-color: #D7D2D2;

}

#pet-description-box {
  height: 100px;
  width: 300px;
  font-size: 16px;
}

#description-label {
  display: block;
  font-size: 20px;
}

#submit-button--edit {
  font-size: 110%;
  border-radius: 4px;
  background-color: #B2B1B1;
  cursor: pointer;
}



/* Animals availability pages   */


.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.animal-container {
  display: flex;
  flex: 40%;
  padding: 20px;
  border: 1;
  border: 3px solid #1abc9c;
  text-align: right;
  justify-content: space-between;
}

#new-animal-button {
  font: bold;
  text-decoration: none;
  background-color: #979B9E;
  color: black;
  padding: 2px 6px 2px 6px;
  border-radius: 7%;
}

#new-animal-button:hover {
    color: white;
    background-color: #A6AAAE;
}




.animal-url--index {
  border-radius: 8px;
  width: 20em;
  height: 20em;
}

.animal-info--show {
  display: flex;
}

.animal-url--show {
  border-radius: 8px;
  width: 20em;
  height: 20em;
}

#image--show {
  height: 100%;
  width: 100%;
}


.animal-text-box--show {
  text-align: right;
}

.animal-text {

}

.top-nav--animals {
  display: inline;
  background-color: grey;
}

.species-nav {
  position: relative;
  display: inline-block;

}

.navbar {
  overflow: hidden;
  background-color: #979B9E;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;

}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #A6AAAE;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.owner-text-box--show {
  text-align: center;
  font-size: 18px;
}

#owner-info--h1 {
  text-align: center;
}


/* owner index page */

.owner  {
  border: 1px solid grey;
  padding-bottom: 20px;
}

.adoption {
  border: 1px solid grey;
  padding-bottom: 20px;
}
