<h1>Add New Owner</h1>

<form action="/owners" method="post">

  <div class="form-el">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>

  <div class="form-el">
    <label for="Age">Age</label>
    <input type="text" name="age" id="age">
  </div>

  <div class="form-el">
    <label for="contact_number">Contact Number:</label>
    <input type="tel" name="contact_number" id="contact_number">
  </div>

  <div class="form-el">
    <label for="address_1">Address 1:</label>
    <input type="text" name="address_1" id="address_1">
  </div>

  <div class="form-el">
    <label for="address_2">Address 2:</label>
    <input type="text" name="address_2" id="address_2">
  </div>

  <div class="form-el">
    <label for="city">City:</label>
    <input type="text" name="city" id="city">
  </div>

  <div class="form-el">
    <label for="post_code">Post Code:</label>
    <input type="text" name="post_code" id="post_code">
  </div>

  <div class="form-el">
    <input type="submit" value="Submit"/>
  </div>

</form>
