
<div class="form-new--title">
  <h1>Add New Owner</h1>
</div>

<div class="container-form--new">



  <div class="form--new">

    <form action="/owners" method="post">

      <div class="form-el">
        <label for="name">Name</label>
        <input type="text" required placeholder="Enter the owner's name" name="name" id="name" onfocus="this.placeholder = ''">
      </div>

      <div class="form-el">
        <label for="Age">Age</label>
        <input type="text" name="age" id="age" required placeholder="Enter the owner's age" onfocus="this.placeholder = ''">
      </div>

      <div class="form-el">
        <label for="contact_number">Contact Number:</label>
        <input type="tel" name="contact_number" id="contact_number" required placeholder="Enter the owner's contact number" onfocus="this.placeholder = ''">
      </div>

      <div class="form-el">
        <label for="address_1">Address 1:</label>
        <input type="text" name="address_1" placeholder="Address 1" onfocus="this.placeholder = ''" required id="address_1">
      </div>

      <div class="form-el">
        <label for="address_2">Address 2:</label>
        <input type="text" placeholder="Address 2" onfocus="this.placeholder = ''" name="address_2" id="address_2">
      </div>

      <div class="form-el">
        <label for="city">City:</label>
        <input type="text" name="city" id="city" placeholder="City" onfocus="this.placeholder = ''">
      </div>

      <div class="form-el">
        <label for="post_code">Post Code:</label>
        <input type="text" required name="post_code" id="post_code" placeholder="Post Code" onfocus="this.placeholder = ''">
      </div>

      <br>

      <div class="form-el">
        <input id="submit-button" type="submit" value="Submit"/>
      </div>

    </form>

  </div>

</div>
