<h1>Info on the Owner</h1>

<h2><%= @owner.name %></h2>

<p>Age: <%= @owner.age %></p>
<p>REMEMBER TO ADD AN OWNER ADDRESS AND MAYBE TEXT BOX DESCRIPTION OF THEM</p>

<a href="/owners/ <%= @owner.id %>/edit">Edit</a>

<form action="/owners/ <%= @owner.id %>/delete" method="post">
<input type="submit" value="delete">
</form>
